<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>okky</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>Driver</param-name>
    <param-value>org.mariadb.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>URL</param-name>
    <param-value>jdbc:mariadb://10.41.0.70:3306/okky</param-value>
  </context-param>
  <context-param>
    <param-name>dbId</param-name>
    <param-value>okky</param-value>
  </context-param>
  <context-param>
    <param-name>dbPwd</param-name>
    <param-value>cjswo2</param-value>
  </context-param>
  <servlet>
    <servlet-name>MemberController</servlet-name>
    <servlet-class>controller.member.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>/member/regist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.member.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/member/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QnaController</servlet-name>
    <servlet-class>controller.board.qna.QnaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QnaController</servlet-name>
    <url-pattern>/board/qna/qna.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MypageController</servlet-name>
    <servlet-class>controller.member.MypageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MypageController</servlet-name>
    <url-pattern>/member/mypage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CopageController</display-name>
    <servlet-name>CopageController</servlet-name>
    <servlet-class>controller.member.CopageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopageController</servlet-name>
    <url-pattern>/CopageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewQnaController</servlet-name>
    <servlet-class>controller.board.qna.ViewQnaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewQnaController</servlet-name>
    <url-pattern>/board/qna/viewQnA.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyQnaController</servlet-name>
    <servlet-class>controller.board.qna.ModifyQnaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyQnaController</servlet-name>
    <url-pattern>/board/qna/modifyQnA.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FulltimeListController</servlet-name>
    <servlet-class>controller.jobs.FulltimeListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FulltimeListController</servlet-name>
    <url-pattern>/jobs/fulltime.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContractListController</servlet-name>
    <servlet-class>controller.jobs.ContractListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContractListController</servlet-name>
    <url-pattern>/jobs/contract.do</url-pattern>
   </servlet-mapping>
   <servlet>
    <servlet-name>communityController</servlet-name>
    <servlet-class>controller.board.community.communityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>communityController</servlet-name>
    <url-pattern>/board/community/community.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewCommunityController</servlet-name>
    <servlet-class>controller.board.community.ViewCommunityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCommunityController</servlet-name>
    <url-pattern>/board/community/viewCommunity.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyCommunityController</servlet-name>
    <servlet-class>controller.board.qna.ModifyCommunityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyCommunityController</servlet-name>
    <url-pattern>/board/community/modifyCommunity.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainController</servlet-name>
    <servlet-class>controller.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/main.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteQnaController</servlet-name>
    <servlet-class>controller.board.qna.DeleteQnaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQnaController</servlet-name>
    <url-pattern>/board/qna/deleteQna.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteQnaController</servlet-name>
    <servlet-class>controller.board.qna.WriteQnaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteQnaController</servlet-name>
    <url-pattern>/board/qna/writeQna.do</url-pattern>
  </servlet-mapping>
</web-app>