<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>okky</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>Driver</param-name>
    <param-value>org.mariadb.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>URL</param-name>
    <param-value>jdbc:mariadb://10.41.2.121:3306/okky</param-value>
  </context-param>
  <context-param>
    <param-name>dbId</param-name>
    <param-value>okky</param-value>
  </context-param>
  <context-param>
    <param-name>dbPwd</param-name>
    <param-value>cjswo2</param-value>
  </context-param>
  <servlet>
    <servlet-name>RegistController</servlet-name>
    <servlet-class>controller.member.RegistController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistController</servlet-name>
    <url-pattern>/member/regist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.member.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/member/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QnaController</servlet-name>
    <servlet-class>controller.board.qna.QnaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QnaController</servlet-name>
    <url-pattern>/board/qna/qna.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MypageController</servlet-name>
    <servlet-class>controller.member.MypageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MypageController</servlet-name>
    <url-pattern>/member/mypage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CopageController</servlet-name>
    <servlet-class>controller.member.CopageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopageController</servlet-name>
    <url-pattern>/member/mypage_co.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewQnaController</servlet-name>
    <servlet-class>controller.board.qna.ViewQnaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewQnaController</servlet-name>
    <url-pattern>/board/qna/viewQnA.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyQnaController</servlet-name>
    <servlet-class>controller.board.qna.ModifyQnaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyQnaController</servlet-name>
    <url-pattern>/board/qna/modifyQnA.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobListController</servlet-name>
    <servlet-class>controller.jobs.JobListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobListController</servlet-name>
    <url-pattern>/jobs/jobList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContractListController</servlet-name>
    <servlet-class>controller.jobs.ContractListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContractListController</servlet-name>
    <url-pattern>/jobs/contract.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>communityController</servlet-name>
    <servlet-class>controller.board.community.communityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>communityController</servlet-name>
    <url-pattern>/board/community/community.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewCommunityController</servlet-name>
    <servlet-class>controller.board.community.ViewCommunityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCommunityController</servlet-name>
    <url-pattern>/board/community/viewCommunity.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyCommunityController</servlet-name>
    <servlet-class>controller.board.qna.ModifyCommunityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyCommunityController</servlet-name>
    <url-pattern>/board/community/modifyCommunity.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainController</servlet-name>
    <servlet-class>controller.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/main.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteQnaController</servlet-name>
    <servlet-class>controller.board.qna.DeleteQnaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQnaController</servlet-name>
    <url-pattern>/board/qna/deleteQna.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteQnaController</servlet-name>
    <servlet-class>controller.board.qna.WriteQnaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteQnaController</servlet-name>
    <url-pattern>/board/qna/writeQna.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PwdController</servlet-name>
    <servlet-class>controller.member.PwdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PwdController</servlet-name>
    <url-pattern>/member/changepwd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MailController</servlet-name>
    <servlet-class>controller.member.MailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailController</servlet-name>
    <url-pattern>/member/changeEmail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountController</servlet-name>
    <servlet-class>controller.member.AccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountController</servlet-name>
    <url-pattern>/member/account.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAccountController</servlet-name>
    <servlet-class>controller.member.DeleteAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountController</servlet-name>
    <url-pattern>/member/delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.member.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/member/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobRecruitController</servlet-name>
    <servlet-class>controller.jobs.JobRecruitController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobRecruitController</servlet-name>
    <url-pattern>/jobs/jobRecruit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobDetailController</servlet-name>
    <servlet-class>controller.jobs.JobDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobDetailController</servlet-name>
    <url-pattern>/jobs/jobDetail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobMainController</servlet-name>
    <servlet-class>controller.jobs.JobMainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobMainController</servlet-name>
    <url-pattern>/jobs/jobMain.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplicantListController</servlet-name>
    <servlet-class>controller.member.ApplicantListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicantListController</servlet-name>
    <url-pattern>/member/applicantList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplyListController</servlet-name>
    <servlet-class>controller.member.ApplyListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyListController</servlet-name>
    <url-pattern>/member/applyList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommunityController</servlet-name>
    <servlet-class>controller.board.commu.CommunityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityController</servlet-name>
    <url-pattern>/board/commu/commu.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCommController</servlet-name>
    <servlet-class>controller.board.commu.DeleteCommController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCommController</servlet-name>
    <url-pattern>/board/commu/deleteCommu.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyCommuController</servlet-name>
    <servlet-class>controller.board.commu.ModifyCommuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyCommuController</servlet-name>
    <url-pattern>/board/commu/modifyCommu.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewCommuController</servlet-name>
    <servlet-class>controller.board.commu.ViewCommuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCommuController</servlet-name>
    <url-pattern>/board/commu/viewCommu.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteCommuController</servlet-name>
    <servlet-class>controller.board.commu.WriteCommuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteCommuController</servlet-name>
    <url-pattern>/board/commu/writeCommu.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobModifyController</servlet-name>
    <servlet-class>controller.jobs.JobModifyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobModifyController</servlet-name>
    <url-pattern>/jobs/jobModify.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegiResumeController</servlet-name>
    <servlet-class>controller.member.RegiResumeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegiResumeController</servlet-name>
    <url-pattern>/member/regiResume.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobDeleteController</servlet-name>
    <servlet-class>controller.jobs.JobDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobDeleteController</servlet-name>
    <url-pattern>/jobs/jobDelete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LikeCommuController</servlet-name>
    <servlet-class>controller.board.commu.LikeCommuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeCommuController</servlet-name>
    <url-pattern>/board/commu/likeCommu.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LikeQnaController</servlet-name>
    <servlet-class>controller.board.qna.LikeQnaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeQnaController</servlet-name>
    <url-pattern>/board/qna/likeQna.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>WriteCommentQnaController</servlet-name>
    <servlet-class>controller.board.qna.WriteCommentQnaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteCommentQnaController</servlet-name>
    <url-pattern>/board/qna/writeQnaComment.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteCommentCommuController</servlet-name>
    <servlet-class>controller.board.commu.WriteCommentCommuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteCommentCommuController</servlet-name>
    <url-pattern>/board/commu/writeCommuComment.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobApplyController</servlet-name>
    <servlet-class>controller.jobs.JobApplyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobApplyController</servlet-name>
    <url-pattern>/jobs/jobApply.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompareNnameController</servlet-name>
    <servlet-class>controller.member.CompareNnameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompareNnameController</servlet-name>
    <url-pattern>/member/nicknameCompare.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CopareEmailController</servlet-name>
    <servlet-class>controller.member.CopareEmailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopareEmailController</servlet-name>
    <url-pattern>/member/emailCompare.do</url-pattern>
  </servlet-mapping>
  
</web-app>